  
  <script>

	var area = document.getElementById("myarea");
alert(area.innerText);
	//alert("<%=@bio.content%>");

</script>
<h1> My Biography </h1>
<div class="container">
	<% if @bio.content %>
	<div id="myarea"><%=@bio.content%></div>
	<% else %>
	<div id="myarea"><h1>Edit/show a new Bio </h1></div>
	<%end%>
</div>