  
  <script>

	var area = document.getElementById("myarea");
alert(area.innerText);
	//alert("<%=@bio.content%>");

</script>
<h1> My Biography </h1>
<div class="container"> 
	<div id="myarea"><%=@bio.content%></div>
</div>