<% provide(:title, "Contact") %>
<!DOCTYPE html>
<html>
	<body>		
		<p> The details</p>
		<div class="container">
			<div id="image"> <img src="/assets/ala.jpeg" class="pimg" /> </div>
			<p> this is our contact </p>
		</div>

		<div class="container" id="vspacer">
			<div id="image"> <img src="/assets/ala.jpeg" class="pimg" /> </div>
			<p> this is our contact </p>
		</div>
	</body>
</html>