<!DOCTYPE html>
<html>
<body>
<div class="center hero-unit">
	<h1>Welcome to the ALAConnection</h1>
	<h2>
		Connecting the next generation of African Leaders
	</h2>
	<h3>
		<a href='http://africanleadershipacademy.org/'> African leadership Academy</a>
	</h3>
	
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	<%= link_to "Sign in", signin_path, class: "btn btn-large btn-primary", id: "spacer" %>

</div>

</body>
</html>