<!DOCTYPE html>
<html>
<body>
<div class="container">
<div class="center hero-unit" id="welcome">
	<p><strong>Welcome to the ALAConnection</strong></p>
	<h2>
		Connecting the next generation of African Leaders
	</h2>
	<h3>
		<a href='http://africanleadershipacademy.org/'> African leadership Academy</a>
	</h3>
	
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	<%= link_to "Sign in", signin_path, class: "btn btn-large btn-primary", id: "spacer" %>

</div>
</div>
<div class="off"></div>
</body>
</html>