<% provide(:title, "Resume") %>
<div class="container" id="maincontainer">
	<h1> My Resume! </h1>
	<div class="row" >
		<div class="span6 offset3">
 			 <div class="field">
   				 <% if signed_in? %>
   				 	<a href="<%= @resume.resume.url %>"> Click to see resume </a>
   				 <% end %>
   			</div> 			
  		</div>
  	</div> 	
  </div>